@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ed3849;
  --primary-dark: #d23141;
  --primary-color-light: #f4e5ec;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --text-dark: #0f172a;
  --tex-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffff;
  --box-shadow: #b4b4b4;
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
  --header-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 2000px;
  margin: auto;
}

*.grid {
  display: grid;
}
/* Blocks */

.block {
  text-align: center;
}

/* Navigation Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__logo a {
  font-family: var(--primary-font);
  color: black;
  font-size: 3.5rem;
  padding-left: 1.5rem;
  font-weight: 800;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__icons {
  margin: 1rem;
}

.icons__item {
  margin: 1rem;
  font-size: 2rem;
  color: var(--text-dark);
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.item {
  border-bottom: solid #ffffff80 1px;
  padding: 1rem;
}

.nav-list a {
  color: var(--text-dark);
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--primary-color-light);
}

@media screen and (max-width: 328px) {
  .nav__icons {
    margin: 1rem;
  }
  .icons__item {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 900px) {
  .navbar .menu-icon {
    display: none;
  }
  .menu-icon {
    margin: 1rem;
    font-size: 3rem;
  }

  .menu-icon {
    color: rgb(255, 64, 64);
  }

  .nav__icons {
    gap: 1.5rem;
  }

  .grid {
    display: grid;
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .navbar .nav-list,
  .nav__logo,
  .nav__icons {
    display: flex;
    flex-direction: row;
  }

  .navbar .nav-list {
    align-items: center;
    max-height: 100vh;
    opacity: 1;
  }

  .item {
    border: 0;
  }

  .nav_contacts {
    transition: display 1s;
  }

  .nav__logo {
    justify-content: center;
    align-items: center;
  }

  .nav__icons {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1124px) {
  .nav_contacts {
    display: none;
  }
}

/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__chevron {
  margin: 2rem;
  font-size: 2rem;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}

/* Hero Image Section */

.hero-section {
  background: var(--primary-color-light);
  margin: 1rem;
  border-radius: 15px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.hero__header {
  text-align: center;
}

.hero__title {
  text-transform: capitalize;
  color: var(--primary-color);
  margin-top: 3rem;
  font-size: 2rem;
}
.hero__heading {
  font-family: var(--header-font);
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}

.hero__content {
  padding: 0 2rem;
  color: var(--tex-light);
}

.image__girl {
  width: 20rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3rem;
}

@media screen and (min-width: 900px) {
  .hero-section {
    margin: auto;
    width: 95%;
    border-radius: 0 0 25px 25px;
  }
  .grid--1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__header {
    text-align: left;
    margin-left: 3rem;
  }
  .image__girl {
    width: 30rem;
  }
}

@media screen and (min-width: 840px) {
  .hero__header {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 1300px) {
  .hero__title {
    font-size: 2.6rem;
  }
  .hero__heading {
    font-size: 8rem;
  }
  .hero__content {
    font-size: 2;
  }
}

/* Buttons */

.btn {
  background: var(--primary-color);
  border-radius: 5px;
  border: 0;
  color: var(--white);
  width: 13rem;
  height: 4rem;
  margin: 3rem 0;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: box-shadow 0.3s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: var(--primary-color) 0 0 10px 1px;
}

.btn:active {
  background: var(--primary-dark);
}

/* Domain Block */

.block-domain {
  margin: 2rem;
}

.domain__heading {
  font-family: var(--header-font);
  font-weight: 800;
  font-size: 3rem;
  text-transform: capitalize;
}

.domain__content {
  color: var(--body-font);
}

@media screen and (min-width: 800px) {
  .domain__content {
    width: 50rem;
    margin: auto;
    text-align: center;
  }
}

/* Story Secion */

.story-section {
  align-items: center;
  font-size: 1.3rem;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  margin: 5rem 0;
  row-gap: 2rem;
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story__border {
  background: linear-gradient(to left, #bb0f9e 26%, #9628fb 66% border-box);
  background: rgb(187, 15, 158);
  border-radius: 100%;
  border: solid 2px transparent;
  box-shadow: 0 0 15px var(--box-shadow);
  height: 5.4rem;
  width: 5.4rem;
}

.story__border2 {
  border-radius: 100%;
  border: solid 2px white;
  height: 5rem;
  width: 5rem;
}

.story__item {
  width: 5rem;
  border-radius: 100%;
}

.story-container p {
  font-family: var(--header-font);
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .story-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }
}

/* Card Plans */

.card__plan {
  justify-items: center;
  max-width: 180rem;
  gap: 3rem;
  margin: 1rem;
  overflow: hidden;
}

.card1,
.card2,
.card3 {
  transition: transform 0.3s;
}

.card1:hover,
.card2:hover,
.card3:hover {
  transform: scale(1.1);
}

.card_header-container {
  font-size: 1.8rem;
  margin: 1rem;
}

.card__item {
  max-width: 42.5rem;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px;
  margin-top: 2rem;
  overflow: hidden;
}

.card__item p {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.card__header {
  font-size: 2rem;
  font-family: var(--header-font);
  font-weight: 800;
}

.card1__img {
  margin-left: 5rem;
  width: 11rem;
  position: relative;
  top: 1rem;
}

.card2__img {
  width: 16.5rem;
  position: relative;
  top: 1rem;
}

.card3__img {
  width: 17rem;
  position: relative;
  top: 2.6rem;
}

.card1 {
  background: rgb(230, 235, 238);
  background: linear-gradient(135deg, #e6ebee 29%, #cedee8 69%);
}

.card2 {
  background: #f7ebeb;
  background: linear-gradient(153deg, #f5d9d9 26%, #e6d3d3 63%);
}

.card3 {
  background: rgb(230, 230, 222);
  background: linear-gradient(153deg, #e6e6de 29%, #d6d6ce 63%);
}

@media screen and (min-width: 370px) {
  .card_header-container {
    position: relative;
    top: 2rem;
  }

  .card3 .card_header-container {
    position: relative;
    top: 2rem;
    margin-left: 2.2rem;
  }
}

@media screen and (min-width: 450px) {
  .card__plan {
    margin: auto;
  }
}

@media screen and (min-width: 950px) {
  .grid--3x1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card__plan {
    margin: 2rem;
  }
  .card_header-container {
    position: relative;
    top: 0;
    padding-left: 2rem;
  }
  .card3 .card_header-container {
    position: relative;
    top: 0;
    margin-left: 1rem;
  }
  .card1__img,
  .card2__img {
    position: relative;
    top: 4rem;
  }
  .card3__img {
    height: 25rem;
    position: relative;
    top: 3rem;
  }
}

@media screen and (min-width: 1350px) {
  .grid--3x1 {
    gap: 0;
  }
}

@media screen and (min-width: 1820px) {
  .card__plan {
    margin: auto;
  }
}

/* Links */

a:link {
  text-decoration: none;
}

.link-arrow {
  color: #000;
  transition: text-shadow 0.3s;
}

.link-arrow:hover {
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-color);
}

.link-arrow::after {
  letter-spacing: -0.3rem;
  content: "-->";
  margin-left: 8px;
  transition: margin-left 0.5s;
}

.link-arrow:hover::after {
  letter-spacing: -0.3rem;
  content: "-->";
  margin-left: 13px;
}
