<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h1 class="collapsible__heading">Heading 2</h1>
            <span class="collapsible__chevron">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </header>
        <p class="collapsible__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, accusantium.</p>
    </div>
    
</body>
</html>